body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/e9d40d26810225.5635acac91f14.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

#Title{
  background-color: steelblue; font-size: 25px; text-align: center; text-shadow: -3px 6px 5px black; color: aliceblue;
  margin-left: -3%; margin-top: -2%;
  border-width: 15px; border-radius: 13%; border-color: white; border-style: solid; 
  padding-left: 3%; opacity: 95%;
}

.flex-container-header{
  display: flex; flex-direction: row;
  justify-content: flex-end; justify-content: space-evenly;
  align-items: flex-start;
}

.flex-container-dash{
  display: flex;  flex: 30%;
  flex-direction: column; justify-content: flex-end;
  background-color: white; color: transparent;
  margin-left: -10%; opacity: 70%; width: 150px;
  border-width: 10px; border-radius: 15%; border-color: black; border-style:solid;
  transition: margin-left .5s, color .5s, opacity .5s;
}
.dash{
  padding: 35px;
}

.flex-container-dash:hover{
  margin-left: 0%;
  color: black;
  opacity: 100%;
}
a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darkblue;
  text-decoration: none;
}
a:visited {
  color: royalblue;
  text-decoration: none;
}